---
import { CONFIG } from "@/configs/site";
import { getCurrentYear } from "@/lib/year";
import { Image } from "astro:assets";
const routes = [
  "/about",
  "/contribute",
  "/features",
  "/download",
  "/howtouse",
  "/privacy",
  "/goodbye",
  "/pricing",
  "/changelog",
];
const currentYear = getCurrentYear();
---

<footer class="container border-t z-10">
  <div
    class="text-center grid grid-cols-2 gap-4 md:grid-cols-3 lg:flex lg:justify-center lg:mt-4"
  >
    {
      routes.map((route) => (
        <a href={route}>
          <span class="mx-2 text-gray-700 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white">
            {route}
          </span>
        </a>
      ))
    }
  </div>

  <div
    class="flex flex-col items-center justify-between gap-4 py-10 md:h-24 md:flex-row md:py-0"
  >
    <p class="text-center text-sm leading-loose md:text-left">
      © {currentYear}{" "}
      <a
        href={CONFIG.website}
        target="_blank"
        rel="noreferrer noopener nofollow"
        class="font-medium underline underline-offset-4"
      >
        Blink Eye™
      </a>{" "}
      All Rights Reserved | Made by{" "}
      <a
        href={CONFIG.twitter}
        target="_blank"
        rel="noreferrer noopener nofollow"
        class="font-medium underline underline-offset-4"
      >
        Noman Dhoni
      </a>
    </p>
    <p class="text-right text-sm leading-loose md:text-right">
      <a href={CONFIG.buymecoffee} target="_blank">
        <Image
          class="w-[200px]"
          src="https://raw.githubusercontent.com/nomandhoni-cs/Showwand-Website/master/assets/images/bmc.webp"
          alt="Buy me coffee for Noman Dhoni"
          width="200"
          height="50"
        />
      </a>
      <a
        href="https://www.producthunt.com/posts/ba-eye?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-ba-eye"
        target="_blank"
        class="sm:invisible"
      >
        <Image
          class="w-[250px]"
          src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=445267&theme=light"
          alt="Ba Eye - A minimalist eye care reminder app based on 20-20-20 rule. | Product Hunt"
          width="250"
          height="54"
        />
      </a>
    </p>
  </div>
</footer>
